
.signup-form-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 400px;
}

@media only screen and (max-width: 414px) {
    .signup-form-div{
        width: 85%;
        height: 450px;
        font-size: 1.5rem;
    }

}

@media only screen and (max-height: 568px) {
    .signup-form-div{
        height: 360px;
    }

}